<nav style="z-index:1">
    <div class="nav-wrapper white-nav" style="padding:0 15 0 15px;" style="display: inline-block">
        <a href="/" class="brand-logo">
          <b class="center-hv">
              <img src="assets/images/hashes_logo.png" alt="" class="logo-img" style="height:50px">
              <span style="color: #666666">
              &nbsp;Hashes<span class="hide-on-small-only" style="font-weight: lighter">: E-Summit</span>
          </span>
          </b>
        </a>  
      
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Events</a></li>
        <li><a href="#">Blogs</a></li>
        <li><a href="#">About</a></li>
      </ul>

    </div>
</nav>
<div class="center-all copy-protect white  hide-on-large-only" id="mobile_nav_links">
    <ul>
      <a href="#contact"><li>Home</li></a>
      <a href="#contact"><li>Blog</li></a>
      <a href="#contact"><li>Contact</li></a>
    </ul>
</div>


