---
---
.social_media_links img{width:90%;padding-top:5px;}
.padding-10{padding:10px}
.white-nav{background-color:#ffffff;}
.white-nav a{color:black}
.join_hashes_btn{padding:5 10% 5 10%;font-size:25px}
.register_for_event{text-align:center;font-size:25px}

@media screen and (max-width: 992px) and (min-width: 600px){
   #right_col_image{margin-top:50px}
   .social_media_links img{width:80%;padding-top:5px;}
   nav{position:fixed;box-shadow: 0 4px 8px 0 rgba(0,0,0,0)}
}
@media screen and (min-width: 992px) {
   #right_col_image{margin-top:200px}
   nav{box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);}
   
}
@media screen and (max-width: 600px) {
   nav{position:fixed;box-shadow: 0 4px 8px 0 rgba(0,0,0,0)}
   
}

@font-face {
font-family: heading1;
src: url(/assets/fonts/Montserrat-Bold.ttf);
}
@font-face {
font-family: heading2;
src: url(/assets/fonts/Montserrat-SemiBold.ttf);
}
.center-hv{
   display: flex;
   align-items: center;
   justify-content: center;
}